.about-section  {

    .about-box  {
        text-align: justify;
        margin: 0 2rem;

        p:last-of-type  {
            margin-bottom: 5rem;
        }
    }

    .about-text-box  {
        display: flex;
        font-size: 1.8rem;
        line-height: 2.7rem;
        justify-content: center;
        align-items: center;

        @include respond(tab-port)  {
            margin: 0 2rem;
        }
    }

    .portrait-box  {
        margin: 0 2rem;
    }

    .about-button-box  {
        margin-top: 2rem;
    }
}
