//################################
// COMMON STYLING
//################################

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html  {
    font-size: $font-base-size;

    @include respond(big-desktop)  {
        font-size: 75%;        //1 rem = 12px; 12px/16px = 75%
    }

    @include respond(tab-port)  {
        font-size: 50%;     //1 rem = 8px; 8px/16px = 50%
    }

    //@if $breakpoint == phone  {
    //    @media (max-width: 37.5em) { @content };    // 600px
    //}
}

body {
    background-color: $light-color;
    font-size: $font-base-size;
    color: $dark-font;
    font-family: 'Lato', 'Arial', sans-serif;
    line-height: 1.1;
    box-sizing: border-box;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

//################################
// SECTION STYLING
//################################

section {
    padding: 10rem 0;
    text-align: center;

    h2  {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .6rem;

        &:after {
            display: block;
            height: 2px;
            background-color: $secondary-color;
            content: " ";
            width: 10rem;
            margin: 2rem auto 3rem auto;
            margin-bottom: 4rem;
        }
    }

    p  {
        &.lead  {
            font-size: 2.3rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        &.text  {
            margin-bottom: 1.5rem;
        }
    }

    &:nth-child(even)  {
        background-color: $white-color;
    }
}


