.footer  {
    padding: 6rem;
    font-size: 1.6rem;
    height: 100%;
    color: $light-font;
}

.footer-header  {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
    h3  {
        @extend %h3-common;
    }
}

.footer-links  {
    float: left;
    padding-top: 2rem;
    border-top: .1rem dashed $secondary-color;
    display: inline-block;
}

.footer-copy  {
    float: right;
    width: 40%;
    line-height: 2rem;
    padding-top: 2rem;
    border-top: .1rem dashed $secondary-color;
}

.footer-nav-ul li:not(:first-child) {
    margin-left: 4rem;
}
