footer,
.footer  {
    padding: 6rem;
    font-size: 1.6rem;
    height: 100%;
    color: $light-font;

    @include respond(phone)  {
        padding-bottom: 0;
    }
}

.footer-header  {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
    h3  {
        @extend %h3-common;
    }
}

.footer-content  {

    .footer-links  {
        float: left;
        padding-top: 2rem;
        border-top: .1rem dashed $secondary-color;
        display: inline-block;

        @include respond(phone)  {
            display: block;
            float: none;
            width: 100%;
        }
    }

    .footer-copy  {
        float: right;
        width: 40%;
        line-height: 2rem;
        padding-top: 2rem;
        border-top: .1rem dashed $secondary-color;

        @include respond(phone)  {
            display: block;
            float: none;
            width: 100%;
            margin-top: 6rem;
        }
    }
}
