.footer  {
    padding: 6rem;
    font-size: 1.6rem;
    height: 100%;
    color: $light-font;
}

.footer-header  {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
    h3  {
        @extend %h3-common;
    }
}

.footer-links  {
    float: left;
}

.footer-copy  {
    float: right;
    width: 40%;
    line-height: 2rem;
}
