header {
    height: 100vh;
    color: $light-font;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/images/me_nm_flipped.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;

    .header-logo-area  {
        @extend %header-nav-and-logo-common;

        .header-me-img {
            position: absolute;
            left: .3rem;
            top: .5rem;
            width: 8rem;
            border-radius: 5rem;
            transition: left 0.3s, top 0.3s, width 0.3s;

            @include respond(tab-land)  {
                width: 7rem;
                left: .35rem;
            }

            @include respond(tab-port)  {
                left: .3rem;
            }
        }

        @include respond(phone)  {
            opacity: 0;
        }

        @include respond(tab-land)  {
            height: 8rem;
            width: 8rem;
        }
    }
    .header-nav-area {
        @extend %header-nav-and-logo-common;

        float: right;
        backface-visibility: hidden;

        @include respond(phone)  {
            visibility: hidden;
            width: 0;
        }

        a:link,
        a:visited,
        a:active  {
            text-decoration: none;
            color: $light-color;
        }

        i {
            position: absolute;
            top: 1.4rem;
            left: 2.4rem;
            transition: all 0.2s;
            font-size: 6.2rem;

            @include respond(tab-land)  {
                top: 1.6rem;
                left: 2.3rem;
                font-size: 5rem;
            }

            @include respond(tab-port)  {
                left: 2.2rem;
            }
        }

        @include respond(tab-land)  {
            height: 8rem;
            width: 8rem;
        }
    }

    .hero-text-area {
        text-transform: uppercase;
        margin-top: 5rem;

        @include respond(tab-land)  {
            padding-left: 4rem;
        }

        @include respond(tab-port)  {
            padding: 5rem;
        }

        @include respond(phone)  {
            margin-top: 4rem;
        }

        h1,
        h2 {
            word-spacing: .6rem;

            @include respond(phone)  {
                word-spacing: .4rem;
            }
        }

        h1 {
            font-size: 5.4rem;
            letter-spacing: .4rem;
            font-weight: 700;

            @include respond(phone)  {
                word-spacing: .2rem;
                font-size: 5rem;
            }
        }

        h2 {
            font-size: 3rem;
            letter-spacing: .3rem;
            font-weight: 300;
            margin: 1.8rem 0;
        }

        .welcome-text  {
            margin-bottom: 1rem;
            animation: moveFromTop 1s ease-out 1s;
            animation-fill-mode: backwards;
        }
        .name-text  {
            animation: moveFromRight 1s ease-out 1.5s;
            animation-fill-mode: backwards;
        }
        .profession-text  {
            animation: moveFromLeft 1s ease-out 1.5s;
            animation-fill-mode: backwards;
        }
        .hero-github-text  {
            animation: fadeIn 1.5s ease-out 2.5s;
            animation-fill-mode: backwards;
        }
    }
}
