.services-section  {

    .services-text-box  {
        display: flex;
        font-size: 1.8rem;
        align-items: flex-start;
        text-align: left;

        @include respond(tab-port)  {
            margin: 2rem 2rem 0 2rem;
        }

        @include respond(phone)  {
            display: block;
        }
    }

    .service-box  {
        margin-right: 2rem;
        padding: 1rem;
        flex: 1;

        @include respond(phone)  {
            width: 80%;
            margin: 2rem auto;
        }

        .service-box-icon,
        .service-box-title,
        .service-box-content  {
            margin-bottom: 2rem;
        }

        .service-box-icon  {
            font-size: 5rem;
            color: $primary-color;

            @include respond(phone)  {
                text-align: center;
            }
        }

        .service-box-title  {
            font-size: 2rem;
            font-weight: 300;
            text-transform: uppercase;

            @include respond(phone)  {
                text-align: center;
            }
        }

        .service-box-content  {
            line-height: 2.4rem;
        }
    }
}
