.timeline-section  {

    @include respond(phone)  {
        padding-bottom: 0 !important;
    }

    .timeline-box  {

        text-align: center;


        ul  {
            width: 70%;
            border-left: .4rem solid $dark-color;
            border-radius: .5rem;
            background: $primary-color;
            color: $light-font;
            margin: 5rem auto;
            letter-spacing: .5rem;
            line-height: 2rem;
            font-size: 2rem;
            padding: 5rem;
            list-style: none;
            text-align: left;
            font-weight: 300;
            position: relative;

            @include respond(phone)  {
                width: 100%;
                margin: 0;
            }
        }

        h3 {
            @extend %h3-common;

            @include respond(phone)  {
                margin-top: 6rem;
            }
        }

        p  {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        .timeline-item  {
            border-bottom: .1rem dashed $secondary-color;
            padding-bottom: 2.5rem;
            margin-bottom: 5rem;
            position: relative;

            &:last-of-type {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }

            &:before, &:after {
                position: absolute;
                display: block;
                top: 0;
            }

            &:before {
                left: -15rem;
                color: $dark-font;
                content: attr(data-date);
                text-align: right;
                min-width: .4rem;
                font-weight: 300;

                @include respond(phone)  {
                    left: 0;
                    color: $light-font;
                    top: -3rem;
                }

            }

            &:after {
                box-shadow: 0 0 0 .4rem $primary-color;
                left: -5.7rem;
                background: #252827;
                border-radius: 50%;
                height: 1.1rem;
                width: 1.1rem;
                content: "";
                top: 5px;

                @include respond(phone)  {
                    display: none;
                }
            }
        }
    }
}
