//################################
// VALIDATION STYLING
//################################

.validation-error {
    background-color: #ffe6ea;
}

.error-span  {
    font-size: 1.6rem;
    color: #d63031;
}
