.about-section  {

    .about-text-box  {
        display: flex;
        font-size: 1.8rem;
        line-height: 2.7rem;
        justify-content: center;
        align-items: center;
    }

    .portrait-box  {
        margin: 0 2rem;
    }

    .about-box  {
        text-align: justify;
        margin: 0 2rem;
    }

    .about-button-box  {
        margin-top: 2rem;
    }
}
