header {
    height: 100vh;
    color: $light-font;
    //background-image: linear-gradient(to left bottom, rgba(52, 73, 85, 0.8), rgba(0, 0, 0, 0.8));

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/images/black-flat-screen-computer-monitor-1714208.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .header-logo-area,
    .header-nav-area {
        height: 100px;
        width: 100px;
        font-size: 360%;
        color: $light-color;
        background: $secondary-color;
        border-radius: 50%;
        display: inline-block;
        margin: 40px 40px;
        border: solid 1pt $primary-color;
        position: relative;
        animation: fadeIn 1.5s ease-out 2.5s;
        animation-fill-mode: backwards;
    }

    .header-logo-area {
        .header-me-img {
            position: absolute;
            left: 4px;
            top: 5px;
            width: 90px;
            border-radius: 50%;
            transition: left 0.3s, top 0.3s, width 0.3s;
        }

        .header-me-img:hover  {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
        }
    }

    .header-nav-area {
        float: right;
        backface-visibility: hidden;

        a,
        a:active,
        a:visited {
            text-decoration: none;
            color: $light-color;
        }

        i {
            position: absolute;
            top: 18px;
            left: 28px;
            transition: left 0.2s, font-size 0.2s;
        }

        i:hover  {
            left: 26px;
            font-size: 110%;
            cursor: pointer;
        }
    }

    .hero-text-area {
        text-transform: uppercase;
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        h1,
        h2 {
            word-spacing: 6px;
            line-height: 120%;
        }

        h1 {
            font-size: 290%;
            letter-spacing: 3px;
            font-weight: 700;
            margin: 15px 0;
        }

        h2 {
            font-size: 150%;
            letter-spacing: 1px;
            font-weight: 300;
        }

        .hero-github-text {
            margin-top: 15px;
        }

        .welcome-text  {
            animation: moveFromTop 1s ease-out 1s;
            animation-fill-mode: backwards;
        }
        .name-text  {
            animation: moveFromRight 1s ease-out 1.5s;
            animation-fill-mode: backwards;
        }
        .profession-text  {
            animation: moveFromLeft 1s ease-out 1.5s;
            animation-fill-mode: backwards;
        }
        .hero-github-text  {
            animation: fadeIn 1.5s ease-out 2.5s;
            animation-fill-mode: backwards;
        }
    }
}
