nav {
    color: $light-font;
    background-color: $primary-color;
    padding: 2rem 0;

    a,
    a:active,
    a:visited {
        text-decoration: none;
        color: $light-font;
    }

    .main-nav-ul {
        float: right;
        list-style: none;
    }

    .nav-branding-area,
    .nav-item {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    .nav-branding-area {
        font-size: 2.1rem;
        margin-top: .2rem;
    }

    .nav-item {
        margin-left: 4rem;
        font-size: 1.6rem;
        margin-top: .5rem;
    }
}
