nav {
    color: $light-font;
    background-color: $primary-color;
    padding: 20px 0;

    .main-nav-ul {
        float: right;
        list-style: none;
    }

    .nav-branding-area,
    .nav-item {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .nav-branding-area {
        font-size: 110%;
        margin-top: 2px;
    }

    .nav-item {
        margin-left: 40px;
        font-size: 90%;
        margin-top: 4px;
    }
}
