//variables
$primary-color: #344955;
$secondary-color: #f9aa33;
$light-color: #eceff1;
$dark-color: #263238;
$white-color: #fff;
$black-color: #000;

$dark-font: #555;
$light-font: #efefef;
$font-base-size: 18px;
