@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic);.form-box .form-group textarea,
.form-box .form-group select,
.form-box .form-group input[type=text],
.form-box .form-group input[type=email] {
  line-height: 4rem;
  font-size: 2rem;
  width: 100%;
  border-radius: 0.3rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-bottom: 0.3rem solid transparent;
}

.form-box .form-group textarea:focus,
.form-box .form-group select:focus,
.form-box .form-group input[type=text]:focus,
.form-box .form-group input[type=email]:focus {
  outline: none;
  box-shadow: 0 0 0.1rem #344955;
  border-bottom: 0.3rem solid #344955;
}

.form-box .form-group textarea:focus:invalid,
.form-box .form-group input[type=text]:focus:invalid,
.form-box .form-group input[type=email]:focus:invalid {
  border-bottom: 0.3rem solid orangered;
}

.footer-header h3,
.timeline-section .timeline-box h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
}

@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.validation-error {
  background-color: #ffe6ea;
}

.error-span {
  font-size: 1.6rem;
  color: #d63031;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 5rem;
  text-decoration: none;
  padding: 1.3rem 3rem 1rem 3rem;
  margin-right: 1.2rem;
  border: 1px solid transparent;
}

.btn-secondary:link,
.btn-secondary:visited {
  background-color: #f9aa33;
  color: #fff;
  transition: background-color 0.2s;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #d78a2d;
}

button[type=submit] {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 5rem;
  text-decoration: none;
  padding: 1.3rem 3rem 1rem 3rem;
  margin-right: 1.2rem;
  border: 1px solid transparent;
  background-color: #f9aa33;
  color: #fff;
  transition: background-color 0.2s;
}

button[type=submit]:hover {
  background-color: #d78a2d;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  color: #efefef;
  padding-bottom: 0.4rem;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.2s;
}

a:active,
a:hover {
  border-bottom: 0.2rem solid #f9aa33;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eceff1;
  font-size: 62.5%;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 1.1;
  box-sizing: border-box;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

section {
  padding: 100px 0 80px 0;
  text-align: center;
}

section h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

section h2:after {
  display: block;
  height: 2px;
  background-color: #f9aa33;
  content: " ";
  width: 10rem;
  margin: 2rem auto 3rem auto;
}

section p.lead {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

section p.text {
  margin-bottom: 1.5rem;
}

section:nth-child(even) {
  background-color: #fff;
}

header {
  height: 100vh;
  color: #efefef;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/images/me_nm_flipped.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

header .header-logo-area,
header .header-nav-area {
  height: 10rem;
  width: 10rem;
  color: #eceff1;
  background: #f9aa33;
  border-radius: 5rem;
  display: inline-block;
  margin: 4rem 4rem;
  border: solid 1pt #344955;
  position: relative;
  -webkit-animation: fadeIn 1.5s ease-out 2.5s;
          animation: fadeIn 1.5s ease-out 2.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

header .header-logo-area .header-me-img {
  position: absolute;
  left: 0.4rem;
  top: 0.5rem;
  width: 9rem;
  border-radius: 5rem;
  transition: left 0.3s, top 0.3s, width 0.3s;
}

header .header-logo-area .header-me-img:hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
}

header .header-nav-area {
  float: right;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

header .header-nav-area a,
header .header-nav-area a:active,
header .header-nav-area a:visited {
  text-decoration: none;
  color: #eceff1;
}

header .header-nav-area i {
  position: absolute;
  top: 1.8rem;
  left: 2.8rem;
  transition: left 0.2s, font-size 0.2s;
  font-size: 6.2rem;
}

header .header-nav-area i:hover {
  left: 2.7rem;
  font-size: 6.6rem;
  cursor: pointer;
}

header .hero-text-area {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
}

header .hero-text-area h1,
header .hero-text-area h2 {
  word-spacing: 0.6rem;
}

header .hero-text-area h1 {
  font-size: 5.4rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
}

header .hero-text-area h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
  margin: 1.8rem 0;
}

header .hero-text-area .welcome-text {
  margin-bottom: 1rem;
  -webkit-animation: moveFromTop 1s ease-out 1s;
          animation: moveFromTop 1s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

header .hero-text-area .name-text {
  -webkit-animation: moveFromRight 1s ease-out 1.5s;
          animation: moveFromRight 1s ease-out 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

header .hero-text-area .profession-text {
  -webkit-animation: moveFromLeft 1s ease-out 1.5s;
          animation: moveFromLeft 1s ease-out 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

header .hero-text-area .hero-github-text {
  -webkit-animation: fadeIn 1.5s ease-out 2.5s;
          animation: fadeIn 1.5s ease-out 2.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

nav,
footer {
  color: #efefef;
  background-color: #344955;
  padding: 2rem 0;
}

nav .main-nav-ul,
footer .main-nav-ul {
  float: right;
  list-style: none;
}

nav .nav-branding-area,
nav .nav-item,
footer .nav-branding-area,
footer .nav-item {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

nav .nav-branding-area,
footer .nav-branding-area {
  font-size: 2.1rem;
  margin-top: 0.2rem;
}

nav .nav-item,
footer .nav-item {
  margin-left: 4rem;
  font-size: 1.6rem;
  margin-top: 0.6rem;
}

/* Sticky navi */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/*
Preloader style
*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
}

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #263238;
  border-right: 0.5em solid rgba(245, 245, 245, 0.5);
  border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
  border-left: 0.5em solid rgba(245, 245, 245, 0.5);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

#preloader-inner,
#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about-section .about-text-box {
  display: flex;
  font-size: 1.8rem;
  line-height: 2.7rem;
  justify-content: center;
  align-items: center;
}

.about-section .portrait-box {
  margin: 0 2rem;
}

.about-section .about-box {
  text-align: justify;
  margin: 0 2rem;
}

.about-section .about-button-box {
  margin-top: 2rem;
}

.services-section .services-text-box {
  display: flex;
  font-size: 1.8rem;
  align-items: flex-start;
  text-align: left;
}

.services-section .service-box {
  margin-right: 2rem;
  padding: 1rem;
  flex: 1;
}

.services-section .service-box .service-box-icon,
.services-section .service-box .service-box-title,
.services-section .service-box .service-box-content {
  margin-bottom: 2rem;
}

.services-section .service-box .service-box-icon {
  font-size: 5rem;
  color: #344955;
}

.services-section .service-box .service-box-title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.services-section .service-box .service-box-content {
  line-height: 2.4rem;
}

.timeline-section .timeline-box {
  text-align: center;
}

.timeline-section .timeline-box ul {
  width: 70%;
  border-left: 0.4rem solid #263238;
  border-radius: 0.5rem;
  background: #344955;
  color: #efefef;
  margin: 5rem auto;
  letter-spacing: 0.5rem;
  line-height: 2rem;
  font-size: 2rem;
  padding: 5rem;
  list-style: none;
  text-align: left;
  font-weight: 300;
  position: relative;
}

.timeline-section .timeline-box p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.timeline-section .timeline-box .timeline-item {
  border-bottom: 0.1rem dashed #f9aa33;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.timeline-section .timeline-box .timeline-item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-section .timeline-box .timeline-item:before,
.timeline-section .timeline-box .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-section .timeline-box .timeline-item:before {
  left: -15rem;
  color: #555;
  content: attr(data-date);
  text-align: right;
  min-width: 0.4rem;
  font-weight: 300;
}

.timeline-section .timeline-box .timeline-item:after {
  box-shadow: 0 0 0 0.4rem #344955;
  left: -5.7rem;
  background: #252827;
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  content: "";
  top: 5px;
}

.form-box {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.form-box .form-group {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.form-box .form-group label {
  display: block;
  margin: 0 0 0.5rem 0.5rem;
}

.form-box .form-group input[type=text],
.form-box .form-group input[type=email] {
  padding-left: 1rem;
}

.form-box .form-group select {
  padding: 0.7rem 1rem;
}

.form-box .form-group textarea {
  line-height: 2rem;
  padding: 0.5rem 1rem;
  font-family: "Lato", "Arial", sans-serif;
}

.footer {
  padding: 6rem;
  font-size: 1.6rem;
  height: 100%;
  color: #efefef;
}

.footer-header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.footer-links {
  float: left;
}

.footer-copy {
  float: right;
  width: 40%;
  line-height: 2rem;
}

