
%input-style-common  {
    line-height: 4rem;
    font-size: 2rem;
    width: 100%;
    border-radius: .3rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-bottom: .3rem solid transparent;
}

%focus-common  {
    outline: none;
    box-shadow: 0 0 .1rem $primary-color;
    border-bottom: .3rem solid $primary-color;
}

%focus-invalid-common  {
    border-bottom: .3rem solid $invalid-color;
}

%h3-common  {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 2rem;
    margin-top: .3rem;
    margin-bottom: 2rem;
}
